
  .jslider_round_plastic .jslider-bg i,
  .jslider_round_plastic .jslider-pointer { background: #03A9F4;}
  .jslider_round_plastic .jslider-pointer{border-radius: 50%}
.jslider_round_plastic .jslider-bg i{margin-top: 10px;}
  .jslider_round_plastic .jslider-pointer { width: 18px; height: 18px; top:3px; margin-left: -8px; }
